<head>
	<link rel="icon" type="image/png" href="/table/images/icons/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/table/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/table/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/table/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/table/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="/table/css/util.css">
	<link rel="stylesheet" type="text/css" href="/table/css/main.css">

</head>

<div class="limiter">
	<div class="container-table100">
		<div class="wrap-table100">
			<div class="table100">
				<table>

					<thead>
						<tr class="table100-head">
							<th class="column1">Nome</th>
							<th class="column2">Email</th>
							<th class="column3">Cpf</th>
							<th class="column4">Mensagem</th>
							<th class="column5" style="text-align: center;">Ação</th>
						</tr>
					</thead>

					<tbody>
						{{#each clientes}}
						<tr>
							<td class="column1">{{nome}}</td>
							<td class="column2">{{email}}</td>
							<td class="column3">{{cpf}}</td>
							<td class="column4">{{mensagem}}</td>
							<td class="column5" style="text-align: center;">
								<a onclick="return confirm('Deseja excluir o {{nome}} ?')"  href="/client/{{id}}">
									<button class="btn btn-danger">Deletar</button>
								</a>

								<a href="/client/edit/{{id}}">
									<button class="btn btn-info">Alterar</button>
								</a>
							</td>
						</tr>
						{{/each}}
						{{#if clientes}}
						{{else}}
						<h5>Sem nenhuma informação</h5>
						{{/if}}
					</tbody>

				</table>
			</div>

		</div>
	</div>
</div>




<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/select2/select2.min.js"></script>
<script src="js/main.js"></script>